@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight:700|Zilla+Slab:700');
.slab {
  font-family: 'Zilla Slab';
}

.highlight {
  font-family: 'Zilla Slab Highlight';
}

.invisible {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.main-bg {
  height: 100vh;
  width: 100vw;
  background-image: url('../img/background.png');
  background-position: center;
  background-size: cover;
  position: fixed;
}

.red-bg {
  height: 100vh;
  width: 65vw;
  background-image: url('../img/red.png');
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.black-bg {
  height: 100vh;
  width: 40vw;
  background-color: #000;
  margin: 0 auto;
}

.text-area {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  margin: 0;
  background-color: #f00;
  border: 2px solid #fff;
  width: 7em;
  box-shadow: 0px 0px 10px #fff;
  border-radius: 50px;
  padding: 10px;
  color: #000;
  font-size: 40px;
  margin: 0 auto;
}

.info {
  width: 75%;
  background-color: #f00;
  padding: 10px;
  color: #000;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 15px
}

.main-area {
  height: 40vh;
  display: flex;
  align-items: center;
}

.rock {
  background-image: url('../img/rock.png');
  height: 180px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.paper {
  background-image: url('../img/paper.png');
  height: 180px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  visibility: hidden;
}

.scissors {
  background-image: url('../img/scissors.png');
  height: 180px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  visibility: hidden;
}

.front {
  float: right;
  color: #fff;
}


.result-area {
  background-image: url('../img/bubble.png');
  background-position: center;
  background-size: cover;
  height: 30vh;
}

.rock-text{
  margin: 33% 33% 0 0;
  transform: rotate(18deg);
  font-size: 28px;
  color: #f00;
}

.paper-text {
  margin: 3.5% 40% 0 0;
  transform: rotate(5deg);
  font-size: 25px;
}

.scissors-text {
  margin: 7.5%  40% 0 0;
  transform: rotate(-15deg);
  font-size: 20px;
}

#rock:hover, #paper:hover, #scissors:hover {
  cursor: pointer;
}

.who-won {
  margin-top: 12%;
  margin-right: 5%;
  font-size: 28px;
  text-align: center;
  color: #fff;
}

.green {
  color: #0f0;
}

.red {
  color: #f00;
}

.blue {
  color: #00f;
}

@media only screen and (max-width: 500px) {
  .main-bg {
    background-image: none;
  }
  .main-bg.container-fluid {
    padding-left: 0px;
  }
  .red-bg {
    height: 100vh;
    width: 100vw;
    background-image: none;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  .red-bg.container-fluid {
    padding-left: 0px;
  }
  .black-bg {
    background-image: url('../img/red.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    margin: 0;
    padding: 0;
  }
  .main-area {
    height: 45vh;
    display: flex;
    align-items: center;
  }
  .result-area {
    background-image: url('../img/bubble.png');
    background-position: center;
    background-size: cover;
    height: 23vh;
  }
  .rps-area.col-xs-6 {
    padding: 0px;
    height: 100%;
  }
  .rock {
    background-image: url('../img/rock.png');
    height: 170px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }
  .paper {
    background-image: url('../img/paper.png');
    height: 170px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    visibility: hidden;
  }
  .scissors {
    background-image: url('../img/scissors.png');
    height: 170px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    visibility: hidden;
  }
  .rock-text{
    margin: 40% 33% 0 0;
    transform: rotate(18deg);
    font-size: 28px;
    color: #f00;
  }
  .paper-text {
    margin: 0 40% 0 0;
    transform: rotate(5deg);
    font-size: 25px;
  }
  .scissors-text {
    margin: 7.5%  40% 0 0;
    transform: rotate(-15deg);
    font-size: 20px;
  }
  .joker.col-xs-6 {
    padding: 0px;
  }
  .who-won {
    margin-top: 10%;
    font-size: 23px;
  }
  .rock-text{
    margin: 40% 33% 0 0;
    transform: rotate(18deg);
    font-size: 28px;
    color: #f00;
  }
  .paper-text {
    margin: 3.5% 40% 0 0;
    transform: rotate(5deg);
    font-size: 25px;
  }
  .scissors-text {
    margin: 8.5%  40% 0 0;
    transform: rotate(-15deg);
    font-size: 20px;
  }
}
